#container{
    height: 800px;
    width: 600px;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

#heading{
    height: 100px;
    width: px;
    background-color: aqua;
    display: block;
}

#quote-generator-box{
    height: 200px;
    width: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    margin-top: 200px;
}

#button{
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

#quote{
    visibility: hidden;
}