*{
    margin: 0px;
    padding: opx;
}
body{
    background-color: black;
    height: 100vh;
    position: relative;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    animation: grow 5s forwards;
}

@keyframes grow {
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
}