body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    display: block;
    margin-left: 25px;
}

#parent{
    height: 500px;
    width: 300px;
    background-color: rgb(30, 30, 59);
    border-radius: 5px;
}

form{
   padding: 10px;
}

input{
    width: 97%;
    height: 25px;
}

button{
    width: 97%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    background-color: aquamarine;
}