#form{
    width: 500px;
    height: 500px;
    background-color: pink;
    text-align: center;
}

h1{
    display: inline;
    margin-bottom: 200px;
}

#calculate{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 100px;
}

#main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}