.buttons{
    height: 50px;
    width: 100px;
    border: 1px solid black;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#orange{
    background-color: orange;
}